{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ panel_name }}</h3>
      </div>
    </div>
  </div>
</div>
{{ footer }}